*{  
            margin: 0;
            padding: 0;
            box-sizing: border-box;           
        }

header, footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: black;
}

a{
    text-decoration: none; /* Tar bort underline hos länkar*/
    color: white;
    align-items: center;
    padding: 20px;
    margin-left: 110px;
    font-family: Verdana;
    font-weight: 600; /* Blir fet-stil*/
}  

.logo{
    height: 10vh;
    margin-bottom: 10px;
}

hero{
    width: 100%;
    display: grid;
    grid-template-areas: stack; /* För att detta är container till min div måste den innehålla den*/
    place-items: center;
}

.man{
    grid-area: stack; /* Tillåter att man stackar på varandra*/
    background-size: cover; /* Att bilden inte blir större än det man ser*/
    width: 150vh;
    height: 100vh;
    margin-left: -330px; /* Bilden är inte centrerat så att detta gör det manuellt*/
} 

.text-container{
    grid-area: stack; /* Tillåter att man stackar på varandra*/
    background-color: #FFD580; /* Light orange color code*/
    width: 50%;
    height: 150px;
    opacity: 0.50; /* Gör hela diven och allt inuti 50% genomskinlig*/
    text-align: center;
    padding: 25px;
    color: black;
    z-index: 1; /* Gör att den är ovanpå bilden*/
    font-weight: 600; /* Blir fet-stil*/
    margin-left: -330px; /* Text container är inte centrerat så att detta gör det manuellt*/
}

button{
     font-weight: 600; /* Blir fet-stil*/
     border: solid 3px black;
     font-size: 17px;
     height: 30px;
     width: 150px;
     border-radius: 10px; /* Kanterna på knappen blir rundare 10px var*/
     background-color: #FFD580; /* Light orange color code*/
}

section{
    height: 60vh;
    background-color: darkcyan;
}

section h1,h2,p{
    text-align: center;
    padding: 2px;
}

.card1-3{ /* Card 1-3 visas som flex samt jämn mellanrum runt alla*/
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.vinkel{
    height: 30vh;
}

.mobil-edit{
    height: 30vh;
}

.publicera{ /* Bilden är lite mindre än de andra så den fick förstoras*/
    height: 30.25vh;
}
.card{
    max-width: 46vh;
    border: solid 2px mediumorchid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1.0); /* Gör skuggan runt om cards*/
}

.bottomfooter{
    color: white;
    background-color: black;
}